.todos__wrapper{
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: .4rem;
  grid-template-columns: repeat(4, 1fr);
}
.todos__wrapper > article{
  background: #bdc3c7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Responsive */
@media (max-width: 678px) {
  .todos__wrapper{
    width: 90%;
    gap: .4rem;
    grid-template-columns: repeat(2, 1fr);
  }
}